---
import { $userSelected } from "@store/store";
import PhoneIcon from "@icons/PhoneIcon.astro";
import EmailIcon from "@icons/EmailIcon.astro";
import WorldIcon from "@icons/WorldIcon.astro";
import AddressIcon from "@icons/AddressIcon.astro";
const { basics } = $userSelected.value!;
const { email, phone, url, location } = basics;
const { address, postalCode, city, countryCode, region } = location;

const newAddress = `${city}, ${region}, ${countryCode}`;
---

<article class="text-sm flex flex-col text-[var(--text)]">
  {
    phone && (
      <div class="flex items-center gap-5">
        <span class="text-white w-8 h-8 p-2 bg-[var(--title)] flex justify-center items-center">
          <PhoneIcon />
        </span>
        <p class="text-xs text-[var(--text)] opacity-60">{phone}</p>
      </div>
    )
  }
  {
    url && (
      <div class="flex items-center gap-5">
        <span class="text-white w-8 h-8 p-2 bg-[var(--title)] flex justify-center items-center">
          <WorldIcon />
        </span>
        <p class="text-xs text-[var(--text)] opacity-60">{url}</p>
      </div>
    )
  }
  {
    newAddress && (
      <div class="flex items-center gap-5">
        <span class="text-white w-8 h-8 p-2 bg-[var(--title)] flex justify-center items-center">
          <AddressIcon />
        </span>
        <p class="text-xs text-[var(--text)] opacity-60">{newAddress}</p>
      </div>
    )
  }
  {
    email && (
      <div class="flex items-center gap-5">
        <span class="text-white w-8 h-8 p-2 bg-[var(--title)] flex justify-center items-center">
          <EmailIcon />
        </span>
        <p class="text-xs text-[var(--text)] opacity-60">{email}</p>
      </div>
    )
  }
</article>
