---
import Layout from "@layouts/Layout.astro";

const { email } = Astro.params;
const jsonList = await Astro.glob("@json/*.json");
const user = jsonList.find((json) => json.basics.email === email);
const title = user ? user.basics.name : "User not found";
---

<Layout title={title}>
  <main class="flex flex-col w-[800px] m-auto mt-16">
    {
      user && (
        <section class="flex flex-col gap-y-2">
          <picture>
            <img
              class="rounded-full w-32 h-32"
              src={`https://avatars.githubusercontent.com/u/e?email=${email}`}
              alt=""
            />
          </picture>
          <h1 class="text-yellow-500 text-5xl py-4">{user.basics.name}</h1>
          <p>{user.basics.label}</p>
          <p>{user.basics.location.city}</p>
          <p>{user.basics.phone}</p>
          <p>{user.basics.email}</p>
        </section>
      )
    }
  </main>
</Layout>
