---
import Layout from "@layouts/Layout.astro";

const { email } = Astro.params;
import { $counter } from "@store/store";

const data = $counter.value;
const user = data?.find((json) => json.basics.email === email);
const title = user ? user.basics.name : "User not found";
---

<Layout title={title}>
  <main class="flex flex-col w-[800px] m-auto mt-16">
    {
      user && (
        <section class="flex flex-col gap-y-2">
          <picture>
            <img
              class="rounded-full w-32 h-32"
              src={`https://avatars.githubusercontent.com/u/e?email=${email}`}
              alt=""
            />
          </picture>
          <h1 class="text-yellow-500 text-5xl py-4">{user.basics.name}</h1>
          <p>{user.basics.label}</p>
          <p>{user.basics.location.city}</p>
          <p>{user.basics.phone}</p>
          <p>{user.basics.email}</p>
          <p>
            {user.basics.profiles.map(
              (item) => `${item.network} @${item.username}`
            )}
          </p>
        </section>
      )
    }
  </main>
</Layout>
